body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

form.signinForm {
  position: relative;
  left: -100px;
  top: -150px;
}

.signinForm h1 {
  color: lightblue;
}

.loginForm {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gray; 
}


  #div1 {
  display: flex;
  justify-content: start;
  height: -50%;
  position: relative;
  left: -270px;
  top: -150px;
  width: 20%;
  }

 h3{
  text-align: center;
  position: relative;
  left: 150px;
  top: -80px;
}

.selectedWorkout p{
  position: relative;
  left: 640px;
  top: -230px;
}

.selectedWorkoutButton {
  position: relative;
  left: 680px;
  top: -230px;
}

.nav h1 {
  color: lightblue;
  position: relative;
  top: 10px;
  left: 50px;
}

.nav i.red.heart.big.icon {
  position: relative;
  right: -60px;
  bottom: -18px;
}

.userinfo{
  position: relative;
  top: 25px;
  left: 60px;
}

.workoutDropDown {
  position: relative !important;
  left: -300px !important;
  top: -350px !important;
}


.backToProfile {
  position: relative;
  left: -720px;
  top: -20px;
}

.Pie {
  float: left;
  position: relative;
  top: -90px;
  right: 10px;
}

.Pie h6 {
  text-align: center;
  position: relative;
}

.Bar {
  float: left;
  position: relative;
  left: 220px;
  top: -70px;
  
}

.Bar h6 {
  text-align: center;
  position: relative;
}

.Line {
  float: left;
  position: relative;
  left: -700px;
  top: 250px;
  
}

.Line h6 {
  text-align: center;
  position: relative;
}

.Bar2 {
  float: left;
  position: relative;
  left: -500px;
  top: 250px;
}

.Bar2 h6 {
  text-align: center;
  position: relative;
} 

 .Home {
  position: relative;
  top: -150px !important;
  left: 320px;
}

div.btn-group {
  position: relative;
  left: 870px;
  top: 50px;
}

.workoutButton {
  position: relative;
  left: -320px;
  top: -20px;
}

.stepsTakenButton {
  position: relative;
  left: -300px;
  top: -20px;
}

.fullWeekButton{
  position: relative;
  left: 730px;
  top: -240px;
}


.foodSearch {
  position: relative;
  left:600px;
  top: 23px;
}

.foodButton {
  position: relative;
  left: 1200px;
  top: 100px;
}

button.selectedWorkoutButton.btn.btn-primary {
  position: relative;
  left: 550px;
  top: -300px;
}

i.red.heart.massive.icon {
  position: relative;
  left: -40px;
  top: -150px;
}

ul { list-style-type: none; }